<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../libraries/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../libraries/style/main.css" />
    <title>Portfolio</title>
  </head>

  <body>
    <!-- START: HEADER -->
    <section class="header-section">
      <div class="container">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light mb-0 mb-lg-3 pl-0" style="z-index: 9999">
          <div class="container pl-0">
            <!-- navbar-brand -->
            <div class="brand">
              <a href="#" class="navbar-brand text-white pt-3 pl-0"
                ><h4><span class="ilham">Ilham</span> Nopi Hendri</h4></a
              >
            </div>
            <!--START: button-hamburger -->
            <div class="hamburger-menu align-self-center">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
              </button>
            </div>
            <!-- End Button-hamburger -->
            <div class="collapse navbar-collapse align-self-center" id="navbar">
              <ul class="navbar-nav ml-auto pr-0">
                <li class="nav-item active">
                  <a href="#home" class="nav-link mr-2 active text-white">Home</a>
                </li>

                <li class="nav-item">
                  <a href="#tentangKita" class="nav-link mr-2 text-white">About Me</a>
                </li>
                <li class="nav-item">
                  <a href="#kelas" class="nav-link mr-2 text-white">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a href="#mentor" class="nav-link mr-2 text-white">progress</a>
                </li>
                <li class="nav-item">
                  <a href="404.html" class="nav-link mr-2 text-white">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- end navbar -->
        <div class="row">
          <div class="col-sm-12 col-md-8 align-self-start mt-5 pl-3 header-left" style="z-index: 9999">
            <h1 class="judul">Hi,</h1>
            <h1 class="judul">I'am <span class="ilham">Ilham</span></h1>
            <h1 class="judul">Web Developer</h1>
            <a href="#" class="btn btn-contact-me px-3 py-1">Contact Me</a>

            <div class="icons mt-5">
              <a class="awal" href="#"><img class="header-icon" width="30" src="../libraries/icons/github.svg" alt="ilham nopi hendri" /></a>
              <a class="awal" href="#"><img class="header-icon" width="30" src="../libraries/icons/instagram.svg" alt="ilham nopi hendri" /></a>
              <a class="awal" href="#"><img class="header-icon" width="30" src="../libraries/icons/facebook.svg" alt="ilham nopi hendri" /></a>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 position-absolute">
            <div class="header-image">
              <img src="../libraries/images/images-header-ilham.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- END: HEADER -->

    <!-- START: ABOUT -->
    <section class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="aboutme text-center text-white mt-5">About Me</h2>
          </div>
          <div class="col-sm-12 col-md-6 align-self-center about-image d-flex justify-content-center">
            <img src="../libraries/images/1.png" alt="" />
          </div>
          <div class="col-sm-12 col-md-6 align-self-center">
            <p>Hi My name is ilham i was born in jakarta 08,Nov
              i am a web developer and also student in STMIK Indonesia Padang Currently, i do a lot of front-end Dev and not very much programming. i would like to change that. I am starting to learn React, Nodjs, and refining my JS skills. This is my first time joining a community of developers. so i'm nervous and very excited to join.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END:ABOUT -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../libraries/jquery/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../libraries/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
