<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../libraries/bootstrap/css/bootstrap.css" />
    <!-- data-aos.css -->
    <link rel="stylesheet" href="../libraries/data-aos/aos.css">
    <!-- fontfamily -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="../libraries/style/main.css" />
    <title>Portfolio</title>
  </head>

  <body>
    <!-- button scroll top -->
    <a href="#" onclick="topFunction()" id="myBtn" title="Go to Top"> <i class="fas fa-arrow-circle-up"></i> </a>


    <!-- START: HEADER -->
    <section class="header-section">
      <div class="container">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light mb-0 mb-lg-3 pl-0 " style="z-index: 9999">
          <div class="container pl-0">
            <!-- navbar-brand -->
            <div class="brand">
              <a href="#" class="navbar-brand text-white pt-3 pl-0"
                ><h4><span class="ilham">Port</span>folio</h4></a>
            </div>
            
            <!--START: button-hamburger -->
            <div class="hamburger-menu align-self-center ml-auto">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
              </button>
            </div>
            <!-- End Button-hamburger -->

            <!-- start dark mode button -->
            <div class="darkmode align-self-center pl-2 d-flex align-items-center justify-content-center">
              <input type="checkbox" class="checkbox-darkmoode" id="chk">
              <label class="label-dark-mode" for="chk">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
              </label>
            </div>
            <!-- end darkmode button -->

            <div class="collapse navbar-collapse align-self-center navbar-darkmoode" id="navbar">
              <ul class="navbar-nav ml-auto pr-0">
                <li class="nav-item active">
                  <a href="#home" class="nav-link mr-2 active">Home</a>
                </li>

                <li class="nav-item">
                  <a href="#about" class="nav-link mr-2">About Me</a>
                </li>
                <li class="nav-item">
                  <a href="#portfolio" class="nav-link mr-2">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a href="#skills" class="nav-link mr-2">Skills</a>
                </li>
                <li class="nav-item">
                  <a href="#contactme" class="nav-link mr-2">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="login.html" class="nav-link mr-2">Login</a>
                </li>
               
              </ul>
            </div>
            
          </div>

        </nav>
        <!-- end navbar -->
        <div class="row" >
          <div class="col-sm-12 col-md-8 align-self-start mt-5 pl-3 header-left" style="z-index: 9999">
            <h1 class="judul">Hi,</h1>
            <h1 class="judul">I'am <span class="ilham">Ilham</span></h1>
            <h1 class="judul">Web Developer</h1>
            <a href=" https://api.whatsapp.com/send?phone=6285355185996&text=Assalamualaikum Wr.wb hallo ilham Saya membutuhkan sebuah website" class="btn btn-contact-me px-3 py-1">Contact Me</a>
            <div class="icons mt-5">
              <a class="awal" href="https://github.com/ilhamnopi"><img class="header-icon" width="30" src="../libraries/icons/github.svg" alt="ilham nopi hendri" /></a>
              <a class="awal" href="https://www.instagram.com/ilhamnopihendri/"><img class="header-icon" width="30" src="../libraries/icons/instagram.svg" alt="ilham nopi hendri" /></a>
              <a class="awal" href="#"><img class="header-icon" width="30" src="../libraries/icons/facebook.svg" alt="ilham nopi hendri" /></a>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 position-absolute" >
            <div class="header-image">
              <img src="../libraries/images/images-header-ilham.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- END: HEADER -->

    <!-- START: ABOUT -->
    <section class="about-section mb-5" id="about" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
            <h2 class="aboutme text-center text-white mt-5" >About Me</h2>
          </div>
          <div class="col-sm-12 col-md-6 align-self-center about-image d-flex justify-content-center" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
            <img src="../libraries/images/q.png" alt="" />
          </div>
          <div class="col-sm-12 col-md-6 align-self-center">
            <p class="about-deskripsi" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom">
              Hi My name is ilham i was born in jakarta 08th Of Nov i am a web developer and also student in STMIK Indonesia Padang Currently, i do a lot of front-end Dev and not very much programming. i would like to change that. I am
              starting to learn PHP, Mysql, and increase my JS skills.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- END:ABOUT -->

    <!-- START Portfolio -->
    <section class="portfolio-section mb-5 pb-5" id="portfolio" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-12">
            <h2 class="aboutme text-center text-white mt-5 mb-4">Portfolio</h2>
          </div>
          <!-- Start card -->
          <div class="col-sm-12 col-md-6 col-lg-4 pt-4" data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor-placement="top-center">
            <div class="card portfolio-card">
              <div class="card-img-top d-flex justify-content-center" style="background-image: url(../libraries/images/frame1.png)">
                <a class="seemore" href=""
                  ><span><img src="../libraries/icons/seemore.svg" alt="" /></span
                ></a>
              </div>

              <div class="card-body">
                <h5 class="card-title text-dark">Web Design</h5>
                <p class="card-text text-dark">website pendaftaran peserta kafekoding STMIK Indonesia Padang</p>
                <a href="#" class="detail">Lihat detail</a>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-sm-12 col-md-6 col-lg-4 pt-4" data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor-placement="top-center">
            <div class="card portfolio-card">
              <div class="card-img-top d-flex justify-content-center" style="background-image: url(../libraries/images/frame4.png)">
                <a class="seemore" href=""
                  ><span><img src="../libraries/icons/seemore.svg" alt="" /></span
                ></a>
              </div>

              <div class="card-body">
                <h5 class="card-title text-dark">Web Design</h5>
                <p class="card-text text-dark">website Travel</p>
                <a href="#" class="detail">Lihat detail</a>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="col-sm-12 col-md-6 col-lg-4 pt-4" data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor-placement="top-center">
            <div class="card  portfolio-card">
              <div class="card-img-top d-flex justify-content-center" style="background-image: url(../libraries/images/frame3.png)">
                <a class="seemore" href=""
                  ><span><img src="../libraries/icons/seemore.svg" alt="" /></span
                ></a>
              </div>

              <div class="card-body">
                <h5 class="card-title text-dark">Web Design</h5>
                <p class="card-text text-dark">Tampilan web portfolio sederhana</p>
                <a href="#" class="detail">Lihat detail</a>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col-sm-12 col-md-6 col-lg-4 pt-4" data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor-placement="top-center">
            <div class="card portfolio-card">
              <div class="card-img-top d-flex justify-content-center" style="background-image: url(../libraries/images/frame2.png)">
                <a class="seemore" href=""
                  ><span><img src="../libraries/icons/seemore.svg" alt="" /></span
                ></a>
              </div>

              <div class="card-body">
                <h5 class="card-title text-dark">UI/UX</h5>
                <p class="card-text text-dark">Tampilan UI /UX portfolio sederhana</p>
                <a href="#" class="detail">Lihat detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Portfolio -->

    <!-- START skils -->
    <section class="progress-section" id="skills">
      <div class="container" data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-center">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="aboutme text-center text-white mt-5">Skills</h2>
          </div>
          <div class="col-sm-12 col-md-6 progress-image d-flex justify-content-center">
            <img src="../libraries/images/ilhamkanan.png" alt="" />
          </div>
          <div class="col-sm-12 col-md-6 progress-text align-self-center d-flex justify-content-center flex-column">
            <h5 class="text-progress">HTML</h5>
              <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"style="width: 90%; background-color:#585d94;">90%</div>
              </div>
              <h5 class="text-progress">CSS</h5>
              <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"style="width: 85%; background-color:#585d94;"> 85% </div>
              </div>
              <h5 class="text-progress">Bootstrap</h5>
              <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"style="width: 85%; background-color:#585d94;"> 85% </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END skils -->

    <!-- Start Contact me -->
    <section class="section-contactMe my-5 " id="contactme">
      <div class="container " data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-center">
        <div class="row justify-content-center">
          <div class="col-sm-12">
            <h2 class="aboutme text-center text-white mt-5">Contact Me</h2>
          </div>
         
            <div class="col-sm-12 col-md-10 col-lg-8 ">
              <form>
                <div class="form-group ">
                  <label for="nama">Nama Lengkap</label>
                  <input type="text" class="form-control" id="nama" placeholder="Masukan nama Lengkap">
                </div>
                <div class="form-group ">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Masukan Email">
                </div>
                <div class="form-group">
                  <label for="pesan">Pesan</label>
                  <textarea name="" id="" cols="30" rows="5" class="form-control contact-me"></textarea>
                </div>
                <button class="btn btn-contact-me btn-block mt-4">Send</button>
              </form>
            </div>
          </div>
      
      </div>
    </section>
    <!-- END Contact me -->

    <!-- START: FOOTER -->
    
    
    <footer >
      <div class="container footer-container">
        <div class="row  justify-content-center ">
          <div class="col-sm-6 d-flex justify-content-center mt-5 footer-body">
            <a href="https://www.instagram.com/ilhamnopihendri/"class="text-center text-white"><i class="fab fa-instagram fa-2x  m-3"></i><br>Instagram</a>
            <a href="#"class="text-center text-white"><i class="fab fa-twitter fa-2x m-3"></i><br>Twitter</a>
            <a href="https://github.com/ilhamnopi"class="text-center text-white"><i class="fab fa-github fa-2x  m-3"></i><br>Github</a>
          </div>
        </div>
        
        <div class="row justify-content-center mt-4">
          <div class="col d-flex justify-content-center">
            <span class="mb-4 copyright text-light text-center">&copy; copy right 2020 | Design with <i class="fas fa-heart"></i> Ilham Nopi Hendri  </span>
          </div>
        </div>
      </div>
    </footer>
    <!-- END: FOOTER -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../libraries/jquery/jquery-3.5.1.js"></script>
    <script src="../libraries/bootstrap/js/bootstrap.js"></script>
    <script src="../libraries/data-aos/aos.js"></script>
    <script src="../libraries/script/script.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
