<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../libraries/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../libraries/style/main.css" />
    <title>Hello, world!</title>
  </head>

  <body>
    <!-- START: HEADER -->
    <section class="header-section">
      <div class="container">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light mb-0 mb-lg-3 pl-0">
          <div class="container pl-0">
            <!-- navbar-brand -->
            <a href="#" class="navbar-brand text-white"><h3>Ilham Nopi Hendri</h3></a>
            <!--START: button-hamburger -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- End Button-hamburger -->
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav ml-auto pr-0">
                <li class="nav-item active">
                  <a href="#home" class="nav-link mr-2 text-white">Home</a>
                </li>

                <li class="nav-item">
                  <a href="#tentangKita" class="nav-link mr-2 text-white">About Me</a>
                </li>
                <li class="nav-item">
                  <a href="#kelas" class="nav-link mr-2 text-white">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a href="#mentor" class="nav-link mr-2 text-white">progress</a>
                </li>
                <li class="nav-item">
                  <a href="404.html" class="nav-link mr-2 text-white">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- end navbar -->
        <div class="row">
          <div class="col-sm-12 col-md-6 align-self-start mt-5">
            <h1 class="judul">Hi,</h1>
            <h1 class="judul">I'am Ilham</h1>
            <h1 class="judul">Web Developer</h1>
            <a href="#" class="btn btn-contact-me px-3 py-1 btn-primary">Contact Me</a>

            <div class="icons mt-5">
              <a href="#" class="header-icon"><img width="30" src="../libraries/icons/github.svg" alt="ilham nopi hendri" /></a>
              <a href="#" class="header-icon"><img width="30" src="../libraries/icons/instagram.svg" alt="ilham nopi hendri" /></a>
              <a href="#" class="header-icon"><img width="30" src="../libraries/icons/facebook.svg" alt="ilham nopi hendri" /></a>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="header-image">
              <img src="../libraries/images/images-header-ilham.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END: HEADER -->
    <!-- START: ABOUT -->
    <section class="about-section" style="height: 100vh">
      <div class="container">
        <div class="row">
          <div class="col"></div>
        </div>
      </div>
    </section>
    <!-- END:ABOUT -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../libraries/jquery/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../libraries/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
