<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../libraries/bootstrap/css/bootstrap.css" />
    <!-- fontfamily -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../libraries/style/main.css" />
    <title>Portfolio</title>
  </head>

  <body style="background: linear-gradient(180deg, #222831 0%, #0a0b0e 100%); color: white">
    <section style="height: 100vh" class="section-login d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card p-3 login-card">
              <div class="card-body">
                <h3 class="card-title text-dark text-center mt-5 title-login">Login</h3>
                <form>
                  <!-- email -->
                  <div class="form-group">
                    <input type="email" class="form-control mt-5" placeholder="email@yourmail.com" />
                  </div>
                  <!-- password -->
                  <div class="form-group mt-4">
                    <div class="input-group">
                      <input class="form-control password-input" type="password" id="password" placeholder="Masukan Password" />
                      <div id="button_show_hide" onclick="showHide();"></div>
                    </div>
                  </div>
                  <!-- remember me -->
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" />
                      <label for="" class="form-check-label">Remember me</label>
                    </div>
                  </div>
                  <!-- button login -->
                  <button class="btn btn-block btn-login mb-5">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="btn-back">
      <div class="home">
        <a href="index.html" class="img-back"><img src="../libraries/icons/back.png" alt="" /></a>
      </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../libraries/jquery/jquery-3.5.1.js"></script>
    <script src="../libraries/bootstrap/js/bootstrap.js"></script>
    <script src="../libraries/script/script.js"></script>
  </body>
</html>
