* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "opensans-light";
  /* border: 0.5px solid white; */
}
@font-face {
  font-family: "montserat";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "opensans-light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "opensans-regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "opensans-semibold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
/* start:navbar */
.navbar-brand,
span.ilham {
  font-family: "montserat";
}
span.ilham {
  color: #ffc75f;
}
li.nav-item .active {
  font-family: "opensans-semibold";
}

li.nav-item a.nav-link:hover {
  text-decoration: underline #ffc75f !important;
}
button.navbar-toggler {
  background-color: white;
}
button.navbar-toggler:focus {
  outline: none;
}
button.navbar-toggler:active {
  outline: none;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5), inset 1px 0px 5px rgba(0, 0, 0, 0.5);
}
/* end Navbar */

/* Start header */
section.header-section {
  background-color: #222831;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
section.header-section::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  background: linear-gradient(0.3deg, #040506 0.27%, rgba(4, 5, 6, 0.94609) 8.72%, rgba(4, 5, 6, 0.915621) 15.85%, rgba(4, 4, 6, 0.872696) 22.72%, rgba(0, 0, 0, 0) 97.77%);
}
section.header-section::before {
  content: "";
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, #585d94 0%, rgba(88, 93, 148, 0) 100%);
  border-radius: 50%;
  top: -200px;
  left: -100px;
}

h1.judul {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
  font-family: "montserat";
}
a.btn-contact-me {
  margin-top: 30px;
  background-color: #ffc75f;
  outline: none;
  border: 1px solid transparent;
  font-weight: 400;
  border-radius: 5px;
  color: white;
}
a.btn-contact-me:hover {
  background-color: transparent;
  border: 1px solid #ffc75f;
  border-radius: 5px;
}
a.btn-contact-me:focus {
  background-color: transparent;
  border: 1px solid #ffc75f;
  box-shadow: none;
  color: #ffc75f;
}
a.btn-contact-me:active {
  background-color: #ffc75f;
  outline: none;
  box-shadow: none;
  color: white;
}
a.awal:not(:nth-child(3)) {
  margin-right: 50px;
}
a.awal img.header-icon {
  transform: rotate(0deg);
  transition: 0.3s;
  width: 40px;
}
a.awal img.header-icon:hover {
  filter: drop-shadow(0px 0px 3px rgba(255, 182, 23, 0.5));
}

a.awal {
  position: relative;
}
a.awal:nth-child(1)::after {
  content: "Github";
  position: absolute;
  color: #ffc75f;
  line-height: 40px;
  font-size: 12px;
  opacity: 0;
  right: 3px;
}
a.awal:nth-child(1):hover::after {
  animation: LeftAndRight;
  animation-duration: 0.6s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
  right: 3px;
}
/* start Instagram */
a.awal:nth-child(2)::after {
  content: "Instagram";
  position: absolute;
  color: #ffc75f;
  line-height: 40px;
  font-size: 12px;
  opacity: 0;
  right: -5px;
}
a.awal:nth-child(2):hover::after {
  animation: LeftAndRight;
  animation-duration: 0.6s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}
/* Facebook */
a.awal:nth-child(3)::after {
  content: "Facebook";
  position: absolute;
  color: #ffc75f;
  line-height: 40px;
  font-size: 12px;
  opacity: 0;
  right: -6px;
}
a.awal:nth-child(3):hover::after {
  animation: LeftAndRight;
  animation-duration: 0.6s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}
@keyframes LeftAndRight {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(40px);
    opacity: 1;
  }
}
.position-absolute {
  bottom: 0px;
  right: 0px;
}
div.header-image img {
  width: 50vmax;
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
}
/* end-header */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  div.header-left {
    text-align: center;
  }

  button.navbar-toggler {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
  }
  span.navbar-toggler-icon {
    width: 20px;
    height: 20px;
    line-height: 30px;
    position: absolute;
    transform: translateX(-40%);
    /* transform: translateY(-50%); */
  }
  a.navbar-brand h4 {
    font-size: 1.2em;
  }
  h1.judul {
    text-align: center;
    margin-top: -5px;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    font-family: "montserat";
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  div.header-left {
    text-align: center;
  }

  button.navbar-toggler {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
  }
  span.navbar-toggler-icon {
    width: 25px;
    height: 25px;
    line-height: 35px;
    position: absolute;
    transform: translateX(-30%);
    /* transform: translateY(-50%); */
  }
  a.navbar-brand h4 {
    font-size: 1.3em;
  }
  h1.judul {
    text-align: center;
    margin-top: -5px;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
    font-family: "montserat";
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
